$font-family_1: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
$font-family_2: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
$font-family_3: montserrat, helvetica neue, Arial, sans-serif, -apple-system

body 
	font-family: $font-family_1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	background-color: $dark-blue
	background: url("../images/cover-start.jpg") no-repeat center center fixed
	background-size: cover

code 
	font-family: $font-family_2

.is-equal-height
	display: flex
	flex-direction: column
	height: 100%
	
	.card-footer
		margin-top: auto

.spaced-fa-icon
	padding: 0 10px

.main-container
	min-height: 75vh

.footer
	min-height: 25vh

.breadcrumb-current 
	margin-left: 0.75em
	color: $medium-blue

@media screen and (max-width: 1023px) 
	.navbar-start 
		.active 
			color: #ffffff
			background-color: $background-light
