@charset "utf-8";

// Colores bonitos
$background-light: #d9e4ef;
$grayish: #969696;
$ultra-light-blue: #93d5f6;
$light-blue: #6dcaf3;
$medium-blue: #0096d6;
$dark-blue: #004b93;

$medium-red: #d44000f5;
$light-red: #F3966D;

// bulma settings
$primary: $medium-blue;
$light: $background-light;
$background: $background-light;
$link: $dark-blue;

$app-blue: $background-light;
$app-blue-difumined: hsla(229, 53%, 53%, 0.803);
$warning-yellow: hsl(46, 20%, 13%);

$navbar-background-color: $medium-blue;
$navbar-item-color: white;

$box-background-color: transparent;
$footer-background-color: $medium-blue;
$footer-padding: 1rem 1.5rem 1rem;
$link-hover: #00b7ff;
$navbar-item-hover-color: $dark-blue;

$tabs-link-hover-border-bottom-color: $app-blue;
$tabs-link-hover-color: $app-blue;

$steps-completed-color: $app-blue;
$steps-active-color: $app-blue;

@import '../../../node_modules/bulma/bulma.sass';

@import './elements/footer.sass';
@import './elements/markdown.sass';
@import './global.sass';