@charset "utf-8";

// Colores bonitos
$background-light: #d9e4ef;
$light-blue: #93d5f6;
$medium-blue: #0095d4;
$dark-blue: #004a91;

// bulma settings
$primary: $dark-blue;
$light: $background-light;
$background: $background-light;
$link: $dark-blue;

$app-blue: $background-light;
$app-blue-difumined: hsla(229, 53%, 53%, 0.803);
$warning-yellow: hsl(46, 20%, 13%);

$box-background-color: $background-light;
$footer-background-color: $background-light;
$footer-padding: 1rem 1.5rem 1rem;
$link-hover: #00b7ff;

$tabs-link-hover-border-bottom-color: $app-blue;
$tabs-link-hover-color: $app-blue;

$steps-completed-color: $app-blue;
$steps-active-color: $app-blue;

@import '../../../node_modules/bulma/bulma.sass';

@import './elements/footer.sass';
@import './elements/markdown.sass';
@import './global.sass';